<!DOCTYPE html>
<html>
  <head>
    <title>yedrd</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>ytedrye</h1>
    <p>Welc</p>
    <button><a href="/users/home"> home</a></button>
  </body>
</html>
